{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}

{% block page_content %}
    {% for post in posts %}
        <a href="{{ url_for('.user', username=post.author.username) }}">
            <img class="img-rounded" src="{{ post.author.gravatar(size=40) }}">
        </a>
        <a href="{{ url_for('.user', username=post.author.username) }}">{{ post.author.username }}</a>
        <hr>
        {% if post.body_html %}
            {{ post.body_html | safe }}
        {% else %}
            {{ post.body }}
        {% endif %}
        <div align="right">
            发表于:{{ moment(post.timestamp).format('L') }}
        </div>
        <h4 id="comments">评论</h4>
        <div class="comment-form">
            {{ wtf.quick_form(form) }}
        </div>
        <form action="#" method="post">
        {% include "_comments.html"%}
        </form>
        {% if pagination %}
        <div class="pagination">
            {{ macros.pagination_widget(pagination,'main.post',id=post.id,fragment="#comments")}}
        </div>
        {% endif %}
    {% endfor %}
{% endblock %}
