{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block head %}
    {{super()}}
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}" type="text/css">
{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}

{% block page_content %}
<div class="page-header">
    <img src="{{ user.gravatar(size=100)}}" alt="" class="img-rounded" align="right">
    <h1>{{ user.username }}</h1>
    {% if user.name or user.location %}
    <p>
        {% if user.name %}
            我的名字是: {{ user.name }}
        {% endif %}
        <br>
        {% if user.location %}
            居住地： {{ user.location }}
        {% endif %}
    </p>
    {% endif %}
        <p>Email: {{ user.email }}</p>
    {% if user.about_me %}
    <p>
        个人简介：
        <br>
        {{ user.about_me }}
    </p>
    {% endif %}
    <p>
        注册时间： {{ moment(user.member_since).format('L') }}
        <br>
        上次浏览： {{ moment(user.last_seen).fromNow() }}
    </p>
    {% if user == current_user %}
    <a href="{{url_for('main.edit_profile')}}" class="btn btn-default">修改个人资料</a>
    {% endif %}
     <p>
         {% if user != current_user and current_user.is_authenticated %}
            {% if not current_user.is_following(user) %}
            <a href="{{ url_for('main.follow', username=user.username) }}" class="btn btn-primary">关注</a>
            {% else %}
            <a href="{{ url_for('main.unfollow', username=user.username) }}" class="btn btn-default">取消关注</a>
            {% endif %}
         {% endif %}
        关注{% if current_user != user %}TA{% else %}我{% endif %}的人:
         <a href="{{ url_for('main.followers',username=user.username) }}">
             <span class="badge">
                {{ user.follower.count() }}
            </span>
         </a>
        {% if current_user != user %}TA{% else %}我{% endif %}关注的人:
         <a href="{{ url_for('main.followed',username=user.username)}}">
             <span class="badge">
                 {{ user.followed.count() }}
             </span>
         </a>
    </p>
<br>
<h3>
    搬砖信息：
</h3>
<form action="#" method="post">
    {% include '_posts.html' %}
    {% if pagination %}
        <div class="pagination">
            {{ macros.pagination_widget(pagination,'main.user',username=current_user.username) }}
        </div>
    {% endif %}
</form>
{% endblock %}